#homepage {
  font-size: 15px;
  /* background-image: linear-gradient(to bottom right, #99b0b0, #DFE6E6); */
  background-color: #99B0B0;
  color: #FCFAF0;
  padding: 3em 1em 1em;
}

/* ************************************ */
/* #aboutme {
  border: 1px solid red;
} */

#aboutme_container {
  display: flex;
  justify-content: center;
}

#aboutme_img{
  width: 200px;
  height: 200px;
  margin-top: 2em;
}

#aboutme_name {
  color: black; 
  font-weight: bold;
  margin: 1em 0 0.3em;
  text-align: right;
}

#aboutme_occupation {
  font-weight: bold;
  text-align: right;
}
#aboutme_text{
  padding-top: 0.8em;
  margin-bottom: 3em;  /*DELIMITS SPACE BETWEEN TEXT AND SKILLS*/
  line-height: 1.2rem;
}

#aboutme_skills_title {
  font-weight: bold;
  margin-bottom: 0.8em;
  text-align: right;
}

#aboutme_skills_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 3em;
  /* border: 1px solid yellow; */
}

.aboutme_skills_icons{
  font-size: 5em;
  margin: 5px;
  /* border: 1px solid orange; */
}

/* ************************************ */
#linksbar {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 1em;
}

.linksbar_button{
  width: 90px;
  height: 40px;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #aec0c0;
  border: 1px solid #FCFAF0;
  color: #FCFAF0;
  border-radius: 5px;
}

.linksbar_button:hover {
  background-color: #8A9EA0;
}
/* ************************************ */
#projects_title {
  font-weight: bold;
  padding-top: 3em;
  margin-bottom: 0.8em;
  text-align: right;
}

/* ************************************ */
.projectcard {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #FCFAF0;
  background-color: #96b3b3;
  padding: 1em 1em 1.5em;
  margin-bottom: 2em;
}

#projectcard_title{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0.5em;
}


/* ************************************ */
.projectbutton_icon{
  font-size: 1.6em;
  margin-left: 0.8em;
}


/* .project_buttons {
  display: flex;
} */

/* .project_icons {
  font-size: 23px;
  margin: 0 10px;
} */
/* ************************************ */

/* @media screen and () {
  
} */