#homepage {
  font-size: 15px;
  background-image: linear-gradient(to bottom right, #99b0b0, #DFE6E6);
  padding: 1em;
}

/* #aboutme div{
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

#aboutme_img{
  /* margin: 3rem; */
  /* margin-left: auto;
  margin-right: auto; */
  margin-top: 2em;
  /* border: 1px solid pink; */
}

#test {
  display: flex;
  justify-content: center;
}

#linksbar {
  display: flex;
  justify-content: center;
  margin: 1.5em 0 1em;
}

.linksbar_button{
  width: 90px;
  height: 40px;
  margin: 0 5px;
  font-size: 1rem;
  font-weight: 500;
  background-color: #aec0c0;
  border: 1px solid #FCFAF0;
  color: #FCFAF0;
  border-radius: 5px;
}




/* @media screen and () {
  
} */